@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DelaGothicOne-Regular";
    src: url("/fonts/DelaGothicOne-Regular.ttf");
  }
  @font-face {
    font-family: "AlbertSans-Regular";
    src: url("/fonts/AlbertSans-Regular.ttf");
  }
}

@layer utilities {
  h1 {
    @apply font-dela-gothic-one;
  }
  img{
    @apply max-w-none;
  }
  .btn_header {
    @apply text-sm text-zinc-200 hover:cursor-pointer hover:text-yellow-400 md:text-xl;
  }


}